<div class ="menu-bar">
  <app-menu-bar></app-menu-bar>
</div>

<app-menu-title></app-menu-title>

<div class="articles">
  <div class = "articles__main">
  <app-big-card></app-big-card>
  </div>

  <div class="articles__main-sub">
  <app-small-card></app-small-card>
  <div class="articles__main-sub1">
  <app-small-card></app-small-card>
  </div>

<div class="articles__others">
  <div class="articles__main-sub2">
  <app-small-card2></app-small-card2>
  <div class="articles__main-sub3">
  <app-small-card2></app-small-card2>
  </div>

  <div class = "articles__main1">
    <app-big-card1></app-big-card1>
  </div>

</div>
</div>
</div>

